{% extends 'tpo/base.html' %}
{% load static %}
{% block content %}

    <div class="container" style="margin-top: 2%">
    <h3>Beyond Academics</h3>
    <h5>Festivals</h5>
    <p>Students at IIT (BHU) Varanasi enjoy a very vibrant campus life, which besides regular academics is full of extra curricular activities, thus networking them in a social atmosphere. These activities are mainly coordinated by the IT-GYMKHANA, which ensures round the year activities and conducts three major national level festivals namely:		</p>
    <ol>
        <li><strong>TECHNEX (the Technical extravaganza)</strong><br>
            <p>Technex is the annual technical festival. It has footsteps dating back to 1939. It brings together students from all over the country to participate in the celebration of knowledge and creative extravagance along with experts from the fields of both academia and industry. While events may vary from year to year, generally they include or are based upon software development, model exhibition, paper and poster presentation, astronomy, robotics and general awareness.</p>
        </li>
        <li><strong>KASHI-YATRA (the Cultural razzamatazz)</strong><br>
            <p>Kashiyatra is the annual social and cultural festival. Started in 1982, it has been named Sparsh and Spandan in the past. Indian rock bands Parikrama and Indian Ocean, Indian classical musicians Pandit Hariprasad Chaurasia and Ustad Bismillah Khan, and singers Shubha Mudgal, Shaan, Lucky Ali, Shibani Kashyap and Javed Ali, have performed at Kashiyatra.</p>
        </li>
        <li><strong>SPARDHA (the Sports euphoria)</strong><br>
            <p>Spardha is the annual sports meet in which over 1800 competitors from close to 40 colleges take part. Events include athletics events and games such as cricket, football, hockey, basketball, volleyball, tennis, badminton and kabaddi.</p>
        </li>
    </ol>
    <p></p>
    <p>Besides these major festivals many minor festivals are also organized by the gymkhana to ensure the complete personality development of all the students.</p>
    <h5>Departmental Festivals</h5>
    <p>Almost of every Department of IIT (BHU) Varanasi organizes a fest of its own in order to promote practical application of classroom knowledge and to bring together students of same branch from different colleges all over India. Some of these fests are internationally acknowledged and attract participation from Europe and US as well :		</p>
    <ul>
        <li>Computer Engineering : Codefest, Adhyayan</li>
        <li>Electronics Engineering : Aayam</li>
        <li>Electrical Engineering : Prastuti</li>
        <li>Metallurgical Engineering : Anveshan</li>
        <li>Mechanical Engineering : COMET</li>
        <li>Pharmaceutical Engineering : Spirit</li>
        <li>Chemical Engineering : Udbhav</li>
        <li>Mining Engineering : Mettle</li>
    </ul>
    <p></p>
    <h5>MCIIE and Entrepreneurship Cell</h5>
    <p>Malaviya Centre for Innovation, Incubation and Entrepreneurship (MCIIE) was established in 2008. The objective of the MCIIE is to produce successful firms that will leave the program financially viable. Incubator tenants not only benefit from business and technical assistance, they also benefit from official affiliation with the incubator, a supportive community with an entrepreneurial environment, direct link to entrepreneurs, and immediate networking and commercial opportunities with other tenant firms. Programmes under MCIIE include:		</p>
    <ul>
        <li>Open Learning Programme in Entrepreneurship (OLPE)</li>
        <li>Entrepreneurship Development and Awareness Programs</li>
        <li>Technology Business Incubator (TBI) sponsored by National Science and Technology Entrepreneurship Development Board, DST, New Delhi.</li>
        <li>Techno Entrepreneurial Promotion Program: TePP Out Reach Centre</li>
    </ul>
    <p></p>
    <h5>Kashi Utkarsh</h5>
    <p>Kashi Utkarsh is a student-run, non-profit organization working for the alleviation of misery, penury and disease chiefly in the village of Lahartara.</p>
    <br>
    <p><img src="{% static 'images/Beyond.png' %}" class=""></p>
    </div>
{% endblock %}
