{% extends 'tpo/base.html' %}

{% block content %}
		<div class="container" style="margin-top: 2%">
			 <h3 align="center">Training &amp; Placement Calendar (2019-20)</h3>
			<br>
			<table class="table-list nowidth">
				<thead>
				<tr>
					<th style="text-align:center" bgcolor="#C0C0C0">Dates</th>
					<th style="text-align:center" bgcolor="#C0C0C0">Events</th>
				</tr>
				</thead>
			<tbody align="center">
				<tr>
				<td width="50%">July 25, 2019</td>
				<td width="50%">Start of Academic Session 2019-20</td>
				</tr>
				<tr>
					<td bgcolor="#C0C0C0">July 27 - August 16, 2019</td>
					<td bgcolor="#C0C0C0">
					Pre-Placement Talks (for both Recruitment and Intern hiring)<br>
					Written/Online Test (only for Inter Hiring)<br>
					Interviews(only for Intern Hiring)<br>
					</td>
				</tr>
				<tr>
					<td bgcolor="#C0C0C0">
						August 16 - August 28, 2019<br>
						September 01 - September 29 2019<br>
						October 1 - October 05, 2019<br>
						October 16 - November 20, 2019<br>
					</td>
					<td bgcolor="#C0C0C0">
						<br>Pre-Placement Talks, Written / On-line Test(for both Intern and Full Time Hiring)<br>Interviews (only for Intern Hiring)
					</td>
				</tr>
				<tr>
					<td>November 28 - November 30, 2019</td>
					<td>
					Pre-Placement Talks, Written / On-line Test(for both Intern and Full Time Hiring)<br>
					Interviews(only for Intern Hiring)
					</td>
				</tr>
				<tr>
					<td bgcolor="#C0C0C0">December 1 - December 20, 2019</td>
					<td bgcolor="#C0C0C0">Recruitment Process for Final Placement<br>
					Intern Hiring<br>
					</td>	
				</tr>
				<tr>
					<td>January 8, 2020 onwards</td>
					<td>Recruitment Process for Final Placement<br>
					Intern Hiring</td>
				</tr>
			</tbody>
			</table>
			<h4>Note</h4>
			<p>
			   The PPTs (Pre-Placement Talks)/ Written Tests/ Online Tests will be held after the class hours from Monday to Friday in two slots:  5:30 PM to 7:30 PM and 8:00 PM to 10:00 PM. On Saturdays/ Sundays/ Holidays there will be five slots of two hours each starting from:  9:00 AM, 11:30 PM, 2:30 PM, 5:00 PM, and 7:30 PM 
			</p>
				</tbody>
         </table>
			
			
		</div>
{% endblock %}