{% extends 'tpo/base.html' %}
{% load static %}
{% block content %}
<div id="msg-director" class="tile-content ui-home container"  style="display: block;">
<h3>Message from Director</h3>
<p class="fright" style="padding: 0 0 5px 15px;"><img src="{% static 'images/director.png'%}"></p>
<p>Greetings from Indian Institute of Technology (BHU), Varanasi and a hearty welcome to the Land of Shiva !!!</p>
<br>
<p>We are proud to be the first to pioneer degree level engineering education in undivided India almost a century ago in 1919 and by none other than our revered Bharat Ratna Mahamana Pt. Madan Mohan Malviya Ji. The present day institute was created after the merger of three erstwhile colleges – Banaras Engineering College, College of Mining and Metallurgy and College of Technology.</p>
<br>
<p>In this age of liberalization, privatization and globalization, there is an ever increasing industry requirement for professionals who have high employability index and required competencies with an inquisitive mind set for innovations. Our collective and continuous commitment is to create vibrant and technology savvy environment where excellence is the credential. Our students imbibe all personality traits, values of the cultural city of Kashi and diversity of the BHU campus within which this Institute exists. Academic curricula not only provide them strength in their own area, but also from open electives in multiple disciplines. This uniqueness helps our students in successfully carrying out their responsibilities as a member of cross–functional team in any organization. Our excellent placement record over years speaks about the value of our students to their employers.</p>
<br>
<p>I am confident that our students will prove their mettle and will contribute immensely towards growth and success of your organization. Looking into great achievements of the alumni of this Institute, I am sure that you and your organization is going to have a wonderful experience of intern and full-time hiring at this Institute and this relationship will go beyond for having other kind of engagements as well for mutual benefits.</p>
<br>
<p>I extend my deep appreciation for our industry partners who have recognized the depth of our rich and diverse talent pool and accorded valuable opportunities.</p>
<br>
<p>I am looking forward to your visit to this campus soon.</p>
<br>
<p><strong>Professor Pramod Kumar Jain</strong><br>Director, IIT (BHU) Varanasi</p>
<p>	</p>		
</p>
</div>
{% endblock %}