{% extends 'tpo/base.html' %}
{% load static %}
{% block content %}

<div class="container" style="margin-top: 2%">
        <h3>Academic Disciplines</h3>
        <div class="block">		<h5>B.Tech. (4 year)</h5>
            <p></p>
            <ul>
                <li><a href="http://iitbhu.ac.in/cer" target="_blank">Ceramic Engineering</a></li>
                <li><a href="http://iitbhu.ac.in/che" target="_blank">Chemical Engineering</a></li>
                <li><a href="http://iitbhu.ac.in/civ" target="_blank">Civil Engineering</a></li>
                <li><a href="http://iitbhu.ac.in/cse" target="_blank">Computer Engineering</a></li>
                <li><a href="http://iitbhu.ac.in/eee" target="_blank">Electrical Engineering</a></li>
                <li><a href="http://iitbhu.ac.in/ece" target="_blank">Electronics Engineering</a></li>
                <li><a href="http://iitbhu.ac.in/mec" target="_blank">Mechanical Engineering</a></li>
                <li><a href="http://iitbhu.ac.in/met" target="_blank">Metallurgical Engineering</a></li>
                <li><a href="http://iitbhu.ac.in/min" target="_blank">Mining Engineering</a></li>
                <li><a href="http://iitbhu.ac.in/phe" target="_blank">Pharmaceutical Engineering</a></li>
            </ul>
            <p></p>
            <h5>M.Tech. (2 year)</h5>
            <p>			</p>
            <ul>
                <li><a href="http://iitbhu.ac.in/bce" target="_blank">Bio-Chemical Engineering</a></li>
                <li><a href="http://iitbhu.ac.in/bme" target="_blank">Bio-Medical Engineering</a></li>
                <li><a href="http://iitbhu.ac.in/cer" target="_blank">Ceramic Engineering</a></li>
                <li><a href="http://iitbhu.ac.in/che" target="_blank">Chemical Engineering</a></li>
                <li><a href="http://iitbhu.ac.in/civ" target="_blank">Civil Engineering</a></li>
                <li><a href="http://iitbhu.ac.in/eee" target="_blank">Electrical Engineering</a></li>
                <li><a href="http://iitbhu.ac.in/ece" target="_blank">Electronics Engineering</a></li>
                <li><a href="http://iitbhu.ac.in/mst" target="_blank">Material Science &amp; Technology</a></li>
                <li><a href="http://iitbhu.ac.in/mec" target="_blank">Mechanical Engineering</a></li>
                <li><a href="http://iitbhu.ac.in/met" target="_blank">Metallurgical Engineering</a></li>
                <li><a href="http://iitbhu.ac.in/min" target="_blank">Mining Engineering</a></li>
                <li><a href="http://iitbhu.ac.in/phe" target="_blank">Pharmaceutical Engineering</a></li>
            </ul>
            <p></p>
        </div>
    <div class="block">
        <h5>Integrated Dual Degree (5 year B. Tech. + M. Tech.)</h5>
        <p>			</p>
        <ul>		<li><a href="http://iitbhu.ac.in/bce" target="_blank">Bio-Chemical Engineering</a></li>
            <li><a href="http://iitbhu.ac.in/bme" target="_blank">Bio-Medical Engineering</a></li>
            <li><a href="http://iitbhu.ac.in/cer" target="_blank">Ceramic Engineering </a></li>
            <li><a href="http://iitbhu.ac.in/civ" target="_blank">Civil Engineering</a></li>
            <li><a href="http://iitbhu.ac.in/cse" target="_blank">Computer Engineering</a></li>
            <li><a href="http://iitbhu.ac.in/eee" target="_blank">Electrical Engineering</a></li>
            <li><a href="http://iitbhu.ac.in/mst" target="_blank">Materials Science &amp; Technology</a></li>
            <li><a href="http://iitbhu.ac.in/mec" target="_blank">Mechanical Engineering</a></li>
            <li><a href="http://iitbhu.ac.in/met" target="_blank">Metallurgical Engineering</a></li>
            <li><a href="http://iitbhu.ac.in/min" target="_blank">Mining Engineering</a></li>
            <li><a href="http://iitbhu.ac.in/phe" target="_blank">Pharmaceutical Engineering</a></li>
        </ul>
        <p></p>
    </div>
    <div class="block">
        <h5>Integrated Masters Degree (5 year M. Tech.)</h5>
        <p>
        </p><ul>
        <li><a href="http://iitbhu.ac.in/app" target="_blank">Engineering Physics</a></li>
        <li><a href="http://iitbhu.ac.in/apc" target="_blank">Industrial Chemistry</a></li>
        <li><a href="http://iitbhu.ac.in/apm" target="_blank">Mathematics &amp; Computing</a></li>
    </ul>
        <p></p>
    </div>
    </div>
{% endblock %}