{% extends 'tpo/base.html' %}
{% load static %}
{% block content %}
<div class="container">
      <div>
            <h3>Facilities</h3>
      </div>
      <p><img src="{% static 'images/halls.png' %}" width="75%" ></p>
<br>
<p>Besides a warm welcome, we provide companies with the following aid :		
</p>
<ul>
      <li>Large classrooms &amp; halls for Pre-Placement Talks and Written Tests.</li>
      <li>Air-conditioned rooms in the Training &amp; Placement Office for Group Discussions and Interviews.</li>
      <li>High-speed Internet connection.</li>
      <li>Student volunteers for prompt action on the day of visit.</li>
      <li>Arrangement for stay at IT Guest House, if intimated prior to visit, on a nominal charge fixed by the University.</li>
</ul>   
<p></p>
<br>
<p><img src="{% static 'images/guesthouse.png' %}" width="75%" ></p>
</div>
{% endblock %}