{% extends 'tpo/base.html' %}
{% load static %}

{% block content %}
<div class="row side-margin-zero">
	<div class="col-xs-12">
		<div class="col-xs-12">
			<h2 class="side_heading" style="text-align: center;">Past Recruiters</h2>
		</div>
		<ul class="column_list" style="margin: 10px; margin-left: 45px;">
			<div class="row">
			<div style="width:22%; height:auto; border-style: solid; border-width: 5px; border-color: red; padding:20px;text-align: center; margin:15px;" class="col I4 card blue lighten-3">
			<span class="initial" style="font-size: 40px; position: relative; top: -15px;">A</span>
			<li>AAKASH Educational Institute</li>
			<li>ACC CEMENT</li><li>ACCENTURE</li><li>ACCOLITE</li><li>ADANI</li><li>ADITYA BIRLA</li><li>ADIYTA BIRLA Chemical</li><li>ADOBE</li><li>AIRPRODUCT</li><li>AIRTEL</li><li>ALLEN CARRIER INSTITUTE</li><li>ALPHONSO</li><li>ALTAIR</li><li>AMAZON</li><li>AMBUJA CEMENT</li><li>AMDOCS</li><li>APPLIED MATERIAL</li><li>ARISTA NETWORK</li><li>ATCS</li><li>ATRENTA</li><li>AXSIOM</li><li>AXTRIA</li>
			<span class="initial" style="font-size: 40px; position: relative; ">B</span>
			<li>BORL</li><li>BECHTEL</li><li>BEEHYV</li><li>BELZABAR</li><li>BHARAT DINAMICS</li><li>BHARAT FORGE</li><li>BOSCH</li><li>BPCL</li><li>BRILLIANCE CLASS</li><li>BROADCOM</li><li>BROWSERSTACK</li>
			<span class="initial" style="font-size: 40px; position: relative; ">C</span>
			<li>CB&amp;I</li><li>C-DOT</li><li>CERA</li><li>CGI</li><li>CNRS</li><li>CSRL</li><li>CV RAMAN INSTITUTE</li><li>CADENCE</li><li>CALDERYS</li><li>CAMPUS COMMUNITY</li><li>CAPGEMINI</li><li>CAPITAL DYNAMIC</li><li>CARBORUNDUM</li><li>CARRIER UTC</li><li>CATERPILLER</li><li>CBI</li><li>CDAC</li><li>CENTURY LINK</li><li>CEVENT</li><li>CISCO</li><li>CITI CORP</li><li>CITRIX</li><li>CLAVILENO CAPITAL</li><li>CMC</li><li>COAL INDIA LIMITED</li><li>CODENATION</li><li>COGNIZANT</li><li>CUMI MURUGAPPA</li><li>CVRS</li>
		
			<span class="initial" style="font-size: 40px; position: relative;">D</span>
			<li>DIT UNIVERSITY</li><li>DMT</li><li>DRDO</li><li>DE SHAW</li><li>DEVELOPMENT ALTERNATIVE</li><li>DINDAYAL PETROLEUM UNIVERSITY</li><li>DIRECTI</li><li>DOLCERA</li><li>DOVER TECH</li><li>DR REDDYS</li>
			<span class="initial" style="font-size: 40px; position: relative;">E</span>
			<li>E BAY</li><li>EMC</li><li>EXL</li><li>EATON</li><li>EDELWEISS</li><li>EDGEVERVE</li><li>EGIS INDIA</li><li>EMERSON</li><li>EPIC SYSTEMS</li><li>ERA GROUP</li><li>ESSAR</li>
			</div>
		<div style="width:22%; height:auto; border-style: solid; border-width: 5px; border-color: red; padding:20px; text-align: center; margin:15px;"
		 class="col I4 card blue lighten-3">
			<span class="initial" style="font-size: 40px; position: relative; top: -15px; ">F</span>
			<li>FACEBOOK</li><li>FIDELITY</li><li>FIJI NATIONAL UNIVERSITY</li><li>FIRE EYE</li><li>FLIPKART</li><li>FLIPKART GT</li><li>FLIPKART SDE</li><li>FORTITUDE</li><li>FRACTAL ANALYTICS</li><li>FREESCALE</li><li>FUTURES FIRST</li>
			<span class="initial" style="font-size: 40px; position: relative;">G</span>
			<li>GE DIGITAL</li><li>GALAXYE.SOLUTIONS</li><li>GALE PARTNERS</li><li>GALGOTIA UNIVERSITY</li><li>GEIPER</li><li>GENERAL MOTORS</li><li>GLA</li><li>GLOBAL ANALYTICS</li><li>GOLDMAN SACHS</li><li>GOOGLE</li><li>GOOGLE (US)</li><li>GROFERS</li><li>GWYNNIEBEE</li>
			<span class="initial" style="font-size: 40px; position: relative; ">H</span>
			<li>HCL</li><li>HIL</li><li>HPCL</li><li>HPE</li><li>HSBC</li><li>HUL</li><li>HZL</li><li>HAVELLS</li><li>HEAD OUT</li><li>HERO MOTER CORP</li><li>HINDALCO</li><li>HONDA</li><li>HOSPIRA</li><li>HRR JOHNSON</li>
		

			<span class="initial" style="font-size: 40px; position: relative;">I</span>
			<li>I NATUIX</li><li>IOCL</li><li>I QUANTI</li><li>I QUANTI INC</li><li>I-PAC</li><li>I-RUNWAY</li><li>IBM (GBS)</li><li>IBM (IRL)</li><li>IFFCO TOKIO</li><li>IMC-SEG</li><li>IMPETUS</li><li>INDIAN ARMY</li><li>INDIAN OIL</li><li>INDIAN RESOURCES LTD</li><li>INDUS INSIGHTS</li><li>INDUS VALLEY</li><li>INFOSYS</li><li>INMOBI</li><li>INNOPLEXUS</li><li>INNOVACCER</li><li>INTERGAL UNIVERSITY</li><li>IQUANTI</li><li>ISB</li><li>ITTIAM</li><li>IVP</li>
			<span class="initial" style="font-size: 40px; position: relative; ">J</span>
			<li>IVY-COMTECH</li><li>J P MORGAN</li><li>JSPL</li><li>JAYPEE GROUP</li><li>JINDAL</li><li>JUBILANT</li>
			<span class="initial" style="font-size: 40px; position: relative; ">K</span>
			<li>KBR</li><li>KEC</li><li>KIIT UNIVERSITY</li><li>KPMG</li><li>KAARYA</li><li>KHODIYAR ENGG</li><li>KHOLER CERAMIC</li><li>KOHLER</li>
			<span class="initial" style="font-size: 40px; position: relative; ">L</span>
			<li>L&amp;T</li>
			</div>
		<div style="width:22%; height:auto; border-style: solid; border-width: 5px; border-color: red; padding:20px; text-align: center; margin:15px;"
		 class="col I4 card blue lighten-3">
			<span class="initial" style="font-size: 40px; position: relative; top: -15px;">M</span>
			<li>MN DUSTUR</li><li>MAHINDRA FINANCE</li><li>MAHINDRA &amp; MAHINDRA</li><li>MANGLYATAN UNIVERSITY</li><li>MAQ SOFTWARE</li><li>MARUTI SUZUKI</li><li>MARVEL</li><li>MASTER CARD</li><li>MAURUGAPPA GROUP</li><li>MECON</li><li>MEDANI</li><li>MENTOR GRAPHICS</li><li>MERCK ASPECT</li><li>MEWAR UNIVERSITY</li><li>MICROSOFT (India)</li><li>MICROSOFT (REDMOND)</li><li>MICROSOFT (SALES)</li><li>MISYS</li><li>MOB STAC</li><li>MORGEN STANLEY</li><li>MU-SIGMA</li><li>MURAAI</li><li>MURUGAPPA</li><li>MY KAARMA</li><li>MYLAN</li><li>MYSYS SOFT</li>
			<span class="initial" style="font-size: 40px; position: relative; ">N</span>
			<li>NIIT UNIVERSITY</li><li>NVIDIA</li><li>NAGARRO</li><li>NETAPP</li><li>NHAI</li><li>NISA</li><li>NOVARTIS</li><li>NOVELL</li><li>NUCLEUS</li><li>NUTANIX</li>
		
			<span class="initial" style="font-size: 40px; position: relative; ">O</span>
			<li>ONGC</li><li>ORACLE (AD)</li><li>OLA CABS</li><li>OLA OPERATION</li><li>OLA TECH</li><li>OPEN SOLUTIONS</li><li>OPTION TOWN</li><li>OPTUMSOFT</li><li>ORACLE (CGBU)</li><li>ORACLE (FINANCE)</li><li>ORACLE (GCS)</li><li>ORACLE (OFSS)</li><li>ORACLE (Sever Tech.)</li><li>ORACLE (APP DEV)</li><li>ORACLE ELITE</li><li>ORACLE OFSS</li><li>ORACLE PREMIUM</li><li>ORACLE PROFILE</li><li>ORACLE SYSTEM</li><li>ORACLE US</li><li>ORBBEES LTD</li><li>ORBEES MEDICAL</li><li>OXIGEN</li><li>OYO ROOMS</li>
			<span class="initial" style="font-size: 40px; position: relative; ">P</span>
			<li>PSIT</li><li>PANASONIC</li><li>PARUL INSTITUTE</li><li>PARUL UNIVERSITY</li><li>PAYTM</li><li>PAYPAL</li><li>PERSITENT</li><li>PETROFAC</li><li>PGCIL</li><li>PHILIPS</li><li>PMC SIERRA</li><li>POWERGRID</li><li>PRACTO</li><li>PROPTIGER</li>
			<span class="initial" style="font-size: 40px; position: relative; ">Q</span>
			<li>QUALCOMM</li>
			
			<span class="initial" style="font-size: 40px; position: relative;">R</span>
			<li>RAM SWOROOP</li><li>RANBOXY</li><li>RELAXO</li><li>RELIANCE INDUSTRIES LTD</li><li>Reliance Jio</li>
			</div>
		<div style="width:22%; height:auto; border-style: solid; border-width: 5px; border-color: red; padding:20px; text-align: center; margin:15px;"
		 class="col I4 card blue lighten-3">
			<span class="initial" style="font-size: 40px; position: relative; top:-15px; ">S</span>
			<li>SRI-B</li><li>SRI-B DEV</li><li>SRI-D</li><li>SRI-N</li><li>SRM U</li><li>SAINT-GOBIN</li><li>SANDIP UNIVERSITY</li><li>SAP LABS</li><li>SAPIENT</li><li>SCA TECH.</li><li>SEARS</li><li>SERVICE NOW</li><li>SHARDA GROUP</li><li>SIGMOID</li><li>SISA GOA Mining</li><li>SKYTECH CHATTERJEE</li><li>SNAM ALLOYS</li><li>SNAPDEAL</li><li>SOCIETE GENERALE</li><li>SODEL SOLUTION</li><li>SONY</li><li>SRIJAN INDIA</li><li>SRM UNIVERSITY</li><li>STERLITE TECH</li><li>SUCCES FACTORS</li><li>SUN PHARMA</li>
			<span class="initial" style="font-size: 40px; position: relative; ">T</span>
			<li>TCS</li><li>TCS (R &amp; D)</li><li>TAKSHILA EDUCA.</li><li>TATA COMMUNICATION</li><li>TATA MOTORS</li><li>TATA STEEL</li><li>TAVANT</li><li>TECHNIP</li><li>TEXAS INSTRUMENTS</li><li>THERMAZ</li><li>TIMES INTERNET</li><li>TISCO</li><li>TOLEXO</li><li>TOWER RESEARCH</li><li>TREDENCE</li><li>TRIDENT GROUP</li><li>TRITHANKAR UNIVERSITY</li>
			<span class="initial" style="font-size: 40px; position: relative; ">U</span>
			<li>UTC</li><li>UBER</li><li>UNITED HEALTH GROUP</li>
			<span class="initial" style="font-size: 40px; position: relative; ">V</span>
			<li>V E COMMERCIAL</li><li>VMWARE SOFTWARE</li><li>VALUE EDGE</li><li>VE COMMERCIAL</li><li>VEDANTA</li><li>VENKATESH INSTITUTE</li><li>VESUVIUS COM</li><li>VIDYAMANDIR CLASS</li><li>VIGNAN UNIVERSITY</li><li>VIRTUSA</li><li>VISA STEEL</li><li>VODAFONE</li><li>VOGNAN UNIVERSITY</li>
			<span class="initial" style="font-size: 40px; position: relative; ">W</span>
			<li>WALMART LABS</li><li>WHIZDOM</li><li>WIPRO</li><li>WOOQER</li><li>WORLDQUANT LLC</li><li>WORK APPLICATIONS</li><li>WORKSAPP</li><li>WORLDBIZ</li>
			<span class="initial" style="font-size: 40px; position: relative; ">X</span>
			<li>XION MULTIVENTURES</li>
			<span class="initial" style="font-size: 40px; position: relative; ">Y</span>
			<li>YAHOO</li><li>YAMAHA</li>
			<span class="initial" style="font-size: 40px; position: relative; ">Z</span>
			<li>ZS ASSOCIATES</li><li>ZEMOSO LAB</li><li>ZOSTEL</li><li>ZYANGA</li></div></ul></div></div>
		</div>
{% endblock %}

