  {% extends 'tpo/base.html' %}
  {% block content %}
		<div class="container" style="margin-top: 2%">
			<div style="display:block">
				<h3 align="center">Placement Procedure and Policy</h3>
				<ol>
					<li>The company should fill in the Job Announcement Form (JAF) and submit it to the Training and Placement Cell (TPC) as an e-mail attachment to tpo@iitbhu.ac.in, or as a hard copy. The JAF should detail job profile for informing the students about the company's requirements.</li>
					<li>The relevant content of the JAF is electronically broadcasted to all the students along with the other additional information furnished by the company.</li>
					<li>The company can ask for the resumes of interested students and has the liberty to shortlist them before beginning of the placement process.</li>
					<li>The company will be allotted slots and dates (Placement Calendar) for conducting Pre-Placement Talk (PPT)/Written Test/Online Test with a request to confirm the same by a specified date. On failing to do so, the allotted slot may be given to other companies on their request. Request for any change in the slot can be entertained subject to its availability.</li>
					<li>TPC advises the companies to conduct the PPT much before the final placement commences. This will provide ample time to the students for making a considered decision in joining the company.</li>
					<li>In case a company finds it inconvenient to visit the campus twice for going through its complete selection process, it may be allowed to carry out its entire selection process,including PPT, on a mutually agreed date, but from December 5, 2019 onwards.</li>
					<li>The final placement process (Group Discussion (GD)/Interview) shall start from December 01, 2016.</li>
					<li>The list of shortlisted students for the final placement process is to be mailed to the TPC by the company prior to December 01, 2016.</li>
					<li>The final placement process (Group Discussion (GD)/Interview) is slotted from December 01, 2019 onwards with further details given below:</li>
						<ol>
							<li>December 01, 2019 - December 04, 2019: Two Interview-slots/day</li>
							<ol>
								<li>Slot 1 : 08:00 AM - 03:00 PM</li>
								<li>Slot 2 : 05:00 PM - 12:00 PM</li>
							</ol>
							<li>December 05, 2016 onwards: One slot/day</li>
						</ol>
					<li>It is possible that a student shortlisted by a company might have earned a job prior to the company's scheduled slot for the final placement process . TPC will provide a comprehensive list of such students to the company before its scheduled slot. Because of non-availability of such already selected candidates , the comapny is advised to maintain an extended list of shortlisted candidates, who can then be made eligible for the final placement process.</li>
					<li>In case the company’s process exceeds the time of their allotted slot, their results will be declared with the results of the companies scheduled in the next slot (i.e. at the end of the next slot).</li>
					<li>The final selection is not to be disclosed to the students directly. The results are to be submitted to the TPC by the end of the assigned slot in a sealed envelope and the TPC will be informing the concerned students. Students with multiple offers will be required to finalize their option for one company and inform TPC within half an hour from the end of the slot. His/her choice would be informed to all the concerned companies. In this situation, to ensure that the company does not suffer on the front of recruitment, the company is suggested to prepare a list of students, in order of their merit, who can be kept waitlisted. Any drop out from the main-list will enable movement of the waitlisted candidates to the list of selected candidates and the company will be informed of the same.</li>
					<li>TPC generally allots a date and a slot to the company for the final placement process based on the following criteria:</li>
						<ol>
							<li>Job profile and growth prospects</li>
							<li>Package being offered by the company (CTC and Take-Home)</li>
							<li>Past record of recruitment</li>
							<li>Conduct of Pre Placement Talks/Written Test/Online Test before final placement (as mentioned in point [6] above)</li>
							<li>Feedback from the students/alumni regarding the company</li>
							<li>Internship offered for pre-final year students.</li>
						</ol>
					<li>The company may also ,if interested , conduct selections for summer internship during their visit(excluding the month of December).</li>
					<li>The company shall visit the campus on scheduled dates and conduct the Written/Online test/GD/Interview as part of thier selection procedure during the slot asssigned to them. It is important to understand that , on the same data , another company may be scheduled before/after your slot and any shift is bound to cause inconcvenince to yourself and others as well.</li>
					<li>The duration of an interview for a candidate should not exceed 45 minutes in one go and 1 hour 30 minutes put together.</li>
					<li>The Institute follows "One Student One Job" policy. Low paid jobs that are not from IT comapnies recruiting 50 or more students are not counted towards this . Job oppurtunities from Government/PSUs will also be made available for all the students.</li>
					<li>It is possible that a student shortlisted by a company might secure a job prior to the company’s scheduled slot for the final placement process. TPC will provide a comprehensive list of such students to the company before its scheduled slot. Because of non-availability of such already selected candidates, the company is advised to maintain an extended list of shortlisted candidates, who can then be made eligible for the final placement process.</li>
					<li>The company is required to send offer letters to TPC, who will then hand it over to the concerned students. Such letters are expected to reach the Cell before the end of March 2016.</li>
					<a href="{% url 'tpo:Policy_pdf' %}" class target="_blank"><p>Click here to Download the Above Placement Policy(as PDF)</p></a>
				</ol>
				
				<h3 align="center">Internships Procedure and Policy</h3>
				<ol>
					<li>The Undergraduate Students (B. Tech./IDD/MD) are required to undergo summer training for a duration of 6-8 weeks during the summer vacation after completion of 6 semesters of their respective trades.</li>
					<li>The company shall fill up the Internship Notification Form (INF) and submit it to the Training and Placement Cell (TPC) either online, as an e-mail attachment to tpo@iitbhu.ac.in, or as a hard copy. The INF serves as an introduction of the internship profile for the benefit of the candidates and also informs them of the company's requirements.</li>
					<li>The INF is electronically broadcasted to all the students along with all the other relevant information furnished by the company.</li>
					<li>The company can ask for the resumes of interested students and has the liberty to shortlist them before the beginning of the placement process.</li>
					<li>The company will be allotted slots and dates for conducting Pre-Placement Talk (PPT)/Written Test/Online Test, with a request to confirm the same by a specified date. On failing to do so, the allotted slot may be given to other companies on their request. Request for any change in the slot can be entertained subject to its availability.</li>
					<li>The company visits the campus on scheduled dates and conducts the Written/Online Test/GD/Interview as part of their intern selection procedure during the time frame assigned to them.</li>
					<li>Internship offers are not to be disclosed to the students and the final selection results are to be submitted to the TPC by the end of the process in a sealed envelope or communicated via E-Mail. The TPC, in turn, will inform the related students. The students have to inform of their decisions to the TPC within 24 hours from the end of the declaration of result. Their choice would be informed to the concerned company. In this situation, to ensure that the company does not suffer on the front of internship, the company is suggested to prepare a list of students, in order of their merit, who can be kept waitlisted. Any drop out from the main-list will enable movement of the waitlisted candidates to the list of selected candidates and the company will be informed of the same.</li>
					<li>The company is required to send offer letters to the TPC, who will then hand it over to the concerned students. Such letters are expected to reach the TPC before the end of March 2016.</li>
					<li>On successful completion of Internships, companies may offer PPOs (Pre Placement Offer) to the students. PPO offered by the company has to be intimated to the TPC. However, the student is at the liberty of accepting or rejecting the PPO. The concerned student has to express their choice to TPC within two working days of the receiving of PPO. If a student accepts the PPO, then he/she will not be allowed to participate in any further placement activities.</li>
				</ol>
			</div>
		</div>
  {% endblock %}