{% extends 'tpo/base.html' %}
{% load static %}
{% block content %}
			<div class="container" style="display: block; margin-top: 2%">		
			<h3>IIT (BHU) Varanasi Advantage</h3>		
			<p>Admission to IIT (BHU) Varanasi takes place through the Joint Entrance Examination (JEE) followed by the Indian Institutes of Technology (IITs). Students enrolling in IIT (BHU) Varanasi hence constitute the Creme de la Creme of the country which is reflected in various All-India Surveys in their search for centres of technical excellence.</p>		
			<br>		<p>Many of its departments including Metallurgy; Mining come under the distinguished category of "Centre Of Advanced Studies", a distinction awarded by India's University Grants Commission. In August 2003, the World Bank carried out a survey of leading technical colleges in India. According to their report, IIT (BHU) Varanasi was ranked 
			second in research, just behind the top ranked Indian Institute of Science.</p>		<p>Other studies have been consistent. One published in the journal Current Sciences, on the publication output of engineering schools, ranks IIT (BHU) Varanasi third and the IISc first. The Outlook Survey 2006 and India Today Survey 2006 also had IIT (BHU) Varanasi 
			in their list of top ten engineering colleges.</p>		<br>		<p>
			<img src="{% static 'images/civil.jpg' %}" style="width: 100%;border-radius: 8px" class="z-depth-3"></p>
			<br>	
			<p>Part of a sprawling BHU campus which extends over 1300 acres thus making it the largest university in Asia, life at IIT (BHU) Varanasi is more than just academics and leads to the holistic development of an individual. 
			With opportunities to interact with people from different faculties (Management, Science, Medical, etc amounting to 119 in number), IIT (BHU) Varanasi grooms individuals to adapt and excel in this 'shrinking' world.</p>		<p>IIT (BHU) Varanasi facilitates interdisciplinary research not just amongst the various departments that are a part of IIT (BHU) 
			Varanasi but also amongst the various streams that are a part of BHU thus creating new opportunities in upcoming applications. Foreign language courses offered by the Languages Faculty and sessions on Finance &amp; Management offered by the Management Faculty being two such examples. The elective courses enable students to integrate various branches of 
			engineering and thus pursue respective fields of interest.</p>		<br>		<p>Students in IIT (BHU) Varanasi come from all over India diverse backgrounds and cultures thus transforming them into human beings who are more receptive to people with varied backgrounds: a pre-requisite in a global work environment.</p>	
			</div>
			
			
		</div>
{% endblock %}